venv/
.venv/
__pycache__/
*.pyc
.git/
.DS_Store
*.pdf
*.faiss
*.npy
image_embeddings1.json
clip_image_embeddings.json
Full*.json
PGDM_*.json
hamlet_version*.json
AI_wiki_embeddings.json
german.json
english.json
*.log
.env
